.footer-wrap {
	@include wh(100%, 241px);
	color: #000;
	display: block;
	padding: 0 20px;
	position: relative;
}

.footer {
	@extend %cf;
	@include wh(100%, 100%);
	display: block;
	margin: 0 auto;
	max-width: 1099px;
	padding-top: 35px;
}

.footer__inner {
	@extend %cf;
	@include wh(100%, auto);
	display: block;
}

.footer__items {
	display: block;
	float: left;
	position: relative;

	@include breakpoint(749px, 'max-width') { float: none; }
}
.footer--logo {
	width: 25%;
	@include breakpoint(919px, 'max-width') { width: 25%; }
	@include breakpoint(749px, 'max-width') { margin-bottom: 20px; width: 100%; }

	span {
		color: #01277d;
		display: block;
		font: {
			size: 11px;
			weight: 300;
		}
		margin-top: 5px;
		text-transform: uppercase;
		position: relative;
	}
}
.footer-logo__con {
	display: block;
	position: relative;
	@include breakpoint(749px, 'max-width') {
		margin: 0 auto;
		width: 219px;
	}
}

.footer-logo {	
	@include wh(219px, 35px);
	@include bgs('../img/logo.png', contain);	
	display: block;
	position: relative;

	@include breakpoint(919px, 'max-width') { width: 100%; }
}
.footer--nav {
	width: 50%;
	@include breakpoint(919px, 'max-width') { width: 57%; }
	@include breakpoint(749px, 'max-width') { margin-bottom: 20px; width: 100%; }
}
.footer-nav {
	@extend %cf;
	display: block;
	margin: 13px auto 0;
	list-style: none;
	width: 390px;

	li {
		display: block;
		float: left;
		
		a {
			color: #929ba4;
			cursor: pointer;
			display: block;
			font: {
				size: 15px;
				weight: normal;
			}
			position: relative;
		}
		&:not(:last-child) { margin-right: 50px; }
	}
}
.footer--other {
	@extend %cf;
	width: 25%;
	@include breakpoint(919px, 'max-width') { width: 18%; }
	@include breakpoint(749px, 'max-width') { width: 100%; }

}

.other-con {
	@extend %cf;
	display: block;
	float: right;

	@include breakpoint(749px, 'max-width') { float: none; width: 280px; margin: 0 auto; }
}
.other__list {
	display: block;
	position: relative;

	@include breakpoint(749px, 'max-width') { float: left; }
	&:not(:last-child) { 
		margin-bottom: 18px;
		@include breakpoint(749px, 'max-width') { margin-right: 20px; }
	}
}

.footer__copyright {
	display: block;
	width: 100%;
	text-align: center;
	position: relative;
	top: -55px;
	@include breakpoint(919px, 'max-width') { text-align: left; }
	@include breakpoint(749px, 'max-width') { 
		margin-top: 20px; 
		top: 0; 
		text-align: center;
		padding-bottom: 40px;
	}
	p {
		color: #929ba4;
		display: block;
		font: {
			size: 13px;
			weight: normal;
		}
		line-height: 1.5;
	}
}